<!-- The footer at the very bottom of the screen -->
<footer class="footer section-padding">
  <div class="grid">
    <!-- <div class="subscribe" id="subscribe">
      <div class="subscribe__container">
        <span class="subscribe__title">Subscribe</span>
        <p class="subscribe__text">Get a weekly email of posts I’ve added to the site.</p>
        {% include subscribe-form.html %}
      </div>
    </div> -->

    <hr class="sep--white"/>

    <div class="footer__container">
      {% tags_list :threshold => 1, :sort_by => count, :order_by => desc, :limit => 5 %}

      <!-- {% include social.html %} -->
    </div>
  </div>
</footer>

<!-- {% include contact.html %} -->

{% if paginator.next_page %}
  <script>
    var maxPages = parseInt('{{ paginator.total_pages }}');
  </script>
{% endif %}

<script src="{{ '/assets/js/app.min.js' | relative_url }}"></script>
